.header img{
    width: 200px;
    
}
.header{
    text-align: center;
}
.header nav {
    background-color: black;
    padding:10px;
    
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding:10px;
}
.header nav a:hover{
    background-color: gray;
}
